<div class="jumbotron">
  <div class="container">
    <h1>Welcome {{welcome_msg}}!</h1>
    <p class="chooser">Choose Your Quiz Below</p>
   <div class="selector">
     <br>
    <select class="selectpicker show-tick">
  <option>Pick A Quiz</option>
  <option>OnePerson VS SomeoneElse</option>
  <option>OnePerson VS SomeoneElse</option>
</select>
<br><br><br><br>
<div class="btn-group1" role="group" aria-label="..."> 
  <button type="button" class="btn btn-default">Start!</button>
</div>
<div class="question-box">
  <h3>Insert Question Here ... with choices(ABCD)?</h3>
</div>
<div class="btn2">
  <button type="button" class="btn answer-one">A</button>
  <button type="button" class="btn answer-two">B</button>
  </div> <br>
 <div class="btn1" role="group" aria-label="...">
  <button type="button" class="btn answer-three">C</button>
  <button type="button" class="btn answer-three">D</button>
</div>
</div>
  </div>
</div>